@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.bg-header {
  background-image: url("/images/bg-header.jpg");
}

.bg-opening {
  background-image: url("/images/bg-opening.jpg");
}

.bg-top {
  background-image: url("/images/bg-top.png");
  width: 100%;
  height: 15px;
  top: 0;
  left: 0;

}

.header-opening {
  bottom: 38%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.bg-cloud {
  background-image: url("/images/bg-cloud.png");
  width: 1447px;
  height: 1447px;
  top: 90px;
  left: 50%;
  margin-left: -723px;
}

.bg-asset {
  background-image: url("/images/bg-asset.png");
  width: 1920px;
  height: 990px;
  top: 0px;
  left: 29%;
  margin-left: -580px;
}

.bg-title {
  background-image: url("/images/bg_title.png");
  width: 1280px;
  height: 322px;
  bottom: 50px;
  left: 48%;
  margin-left: -580px;
}

.bg-body {
  background-image: url("/images/bg-body.jpg");
}

.banner {
  display: block;
  width: 200px;
  height: 220px;
  position: absolute;
  position: fixed;
  top: 450px;
  right: 72px;
  cursor: pointer;
  text-indent: -9999px;
}

.r-btn {
  display: block;
  width: 193px;
  height: 208px;
  background-image: url("/images/btn_quick.png");
}